<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="efnotsafe">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EF Not Safe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="efhardsafe">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EF Hard Safe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="efsafe">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EF Safe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dappernotsafe">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dapper Not Safe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dapperhardsafe">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dapper Hard Search
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dappersafe">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DapperSafe
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
